.noun {
  display: grid;
  margin-top: 3.9rem;
  font-weight: var(--fw-400);
}
.nounTitle {
  display: flex;
  align-items: center;
  column-gap: 2.3rem;
  margin-bottom: 4.2rem;
}
.nounTitle h2 {
  font-size: var(--fs-main-24);
  font-weight: var(--fw-700);
}
.meaning {
  color: var(--clr-gray-400);
  font-size: var(--fs-main-20);
}
.meaningsList {
  margin-top: 2.4rem;
  margin-left: 4.7rem;
  font-size: var(--fs-main-18);
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  margin-bottom: 6.3rem;
}
.meaningsList li::marker {
  color: var(--clr-accent);
}
.meaningsList p[role='listitem'] {
  color: var(--clr-gray-400);
  margin-top: 1.3rem;
  margin-bottom: 1.8rem;
}
.synon {
  display: flex;
  align-items: center;
}
.synon p {
  margin-right: 2.2rem;
  color: var(--clr-gray-400);
  display: inline-block;
}
.synon span {
  color: var(--clr-accent);
  margin-left: 1rem;
  font-weight: var(--fw-700);
}
.synon span:hover {
  text-decoration: underline;
  cursor: pointer;
}
span.notFoundSyno {
  color: var(--clr-gray-400);
  opacity: 0.5;
  font-size: 1.4rem;
}
