.headerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 6.3rem;
}

.logo {
  max-width: 32px;
}

.nav {
  display: flex;
  column-gap: 5.3rem;
  align-items: center;
}
