.menu {
  position: relative;
  font-size: var(--fs-header-18);
  font-weight: 700;
  margin-left: auto;
}
.menuButton {
  border: 0;
  background: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  color: var(--clr-gray-600);
}
.menuSelectedValue {
}
.menuArrow {
}
.menuList {
  position: absolute;
  background-color: var(--clr-gray-100-sec);
  color: var(--clr-gray-600);
  box-shadow: var(--menu-box-shadow);
  border-radius: 1.6rem;
  padding: 2.4rem;
  padding-right: 6.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  top: calc(0% + 4rem);
  right: 0;
  width: 183px;
  max-width: 183px;
  transition: all 0.2s ease-in;
  opacity: 1;
  z-index: 100;
}

.menuItem input[type='radio'] {
  display: none;
}
.menuItem label {
  cursor: pointer;
}
.menuItem label:hover {
  color: var(--clr-accent);
}
