@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
:root {
  --clr-gray-100: #fff;
  --clr-gray-100-sec: #fff;
  --clr-gray-200: #f4f4f4;
  --clr-gray-300: #e9e9e9;
  --clr-gray-400: #757575;
  --clr-gray-500: #3a3a3a;
  --clr-gray-600: #2d2d2d;
  --clr-gray-700: #1f1f1f;
  --clr-gray-800: #050505;

  --clr-devider: #e9e9e9;
  --clr-accent: rgb(164, 69, 237);
  --clr-error: #ff5252;
  --menu-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);

  /* TYPOGRAPHY */
  --fs-header-18: 1.8rem;
  --fs-input-20: 2rem;
  --fs-word-64: 6.4rem;
  --fs-word-24: 2.4rem;
  --fs-main-24: 2.4rem;
  --fs-main-20: 2rem;
  --fs-main-18: 1.8rem;
  --fs-footer: 1.4rem;

  --ff-inter: 'Inter', sans-serif;
  --ff-lora: 'Lora', serif;
  --ff-inconsolata: 'Inconsolata', monospace;

  --fw-400: 400;
  --fw-700: 700;
}

@media only screen and (max-width: 30em) {
  :root {
    --fs-header-18: 1.4rem;
    --fs-input-20: 1.6rem;
    --fs-word-64: 3.2rem;
    --fs-word-24: 1.8rem;
    --fs-main-24: 1.8rem;
    --fs-main-20: 1.6rem;
    --fs-main-18: 1.5rem;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-weight: var(--fw-700);
  font-size: var(--fs-main-18);
  background: var(--clr-gray-100);
  min-height: 100vh;
}
h1 {
  font-size: var(--fs-word-64);
  font-weight: var(--fw-700);
}
img {
  display: block;
  object-fit: cover;
}
.dark {
  --clr-gray-800: #fff;
  --clr-gray-700: #f4f4f4;
  --clr-gray-600: #e9e9e9;
  --clr-gray-500: #757575;
  --clr-gray-400: #3a3a3a;
  --clr-gray-300: #2d2d2d;
  --clr-gray-200: #1f1f1f;
  --clr-gray-100: #050505;
}
.sans {
  font-family: var(--ff-inter);
}
.serif {
  font-family: var(--ff-lora);
}
.mono {
  font-family: var(--ff-inconsolata);
}

.container {
  max-width: 736px;
  margin-inline: auto;
}

.text-gray-600 {
  color: var(--clr-gray-600);
}
.text-gray-400 {
  color: var(--clr-gray-400);
}
.text-accent {
  color: var(--clr-accent);
}
.text-error {
  color: var(--clr-error);
}
.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}
.verticalDevider {
  width: 2px;
  height: 32px;
  background-color: var(--clr-devider);
}
.horizontalDevider {
  width: 100%;
  height: 1px;
  background-color: var(--clr-devider);
}
@media only screen and (max-width: 50em) {
  .container {
    padding-inline: 2.4rem;
  }
}
