@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
:root {
  --clr-gray-100: #fff;
  --clr-gray-300: #e9e9e9;
  --clr-gray-200: #f4f4f4;
  --clr-gray-400: #757575;
  --clr-gray-500: #3a3a3a;
  --clr-gray-600: #2d2d2d;
  --clr-gray-700: #1f1f1f;
  --clr-gray-800: #050505;

  --clr-accent: #a445ed;
  --clr-error: #ff5252;

  /* TYPOGRAPHY */
  --fs-header-18: 1.8rem;
  --fs-header-20: 2rem;
  --fs-word-64: 6.4rem;
  --fs-word-24: 2.4rem;
  --fs-main-24: 2.4rem;
  --fs-main-20: 2rem;
  --fs-main-18: 1.8rem;
  --fs-footer: 1.4rem;

  --ff-inter: 'Inter', sans-serif;
  --ff-lora: 'Lora', serif;
  --ff-inconsolata: 'Inconsolata', monospace;

  --fw-400: 400;
  --fw-700: 700;
}

@media only screen and (max-width: 30em) {
  :root {
    --fs-header-18: 1.4rem;
    --fs-header-20: 1.6rem;
    --fs-word-64: 3.2rem;
    --fs-word-24: 1.8rem;
    --fs-main-24: 1.8rem;
    --fs-main-20: 1.6rem;
    --fs-main-18: 1.5rem;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-weight: var(--fw-700);
  font-size: var(--fs-main-18);
}
.sans {
  font-family: var(--ff-inter);
}
.serif {
  font-family: var(--ff-lora);
}
.mono {
  font-family: var(--ff-inconsolata);
}

.container {
  max-width: 736px;
  margin-inline: auto;
  padding-inline: 2.4rem;
}
h1 {
  font-size: var(--fs-word-64);
  font-weight: var(--fw-700);
}
.text-gray-600 {
  color: var(--clr-gray-600);
}
.text-gray-400 {
  color: var(--clr-gray-400);
}
.text-accent {
  color: var(--clr-accent);
}
.text-error {
  color: var(--clr-error);
}
